<div class="row">
	 <div class="col-md-8">
	 <h2>{{ review.user.get_username }} </h2> <p class="subheading">  {{ review.created_at | date }}</p>
	 </div>
	 <div class="col-md-4 text-right">
	 <h2>{% include 'base/rating.html' with rating=review.rating %}</h2>
	 </div>
	 
</div>
<div class="row">
	 <div class="col-md-4">
	 <p><b>Value for money: </b>{% include 'base/rating.html' with rating=review.valueformoney %}</p>
	 </div>
	 <div class="col-md-4">
	 <p><b>Atmosphere: </b>{% include 'base/rating.html' with rating=review.atmosphere %}</p>
	 </div>
	 <div class="col-md-4">
	 <p>Goody bag: </b>{% include 'base/rating.html' with rating=review.goodybag %}</p>
	 </div>
	 
</div>
<p>{{ review.review }} </p>