{% extends "base/index.html" %}


{% block navigation %}
 <li class="dropdown">
 <a data-toggle="dropdown" class="dropdown-toggle" href="/race" >Find a Race<b class="caret"></b></a>
 <ul class="dropdown-menu" >
 	<li><a class="dropdownbg" href="/search/distance/?query=1 Mile">1 Mile</a> </li> 
 	<li><a class="dropdownbg" href="/search/distance/?query=5k">5k</a> </li> 
 	<li><a class="dropdownbg" href="/search/distance/?query=10k">10k</a> </li> 
 	<li><a class="dropdownbg" href="/search/distance/?query=10 Miles">10 Miles</a> </li> 
	<li><a class="dropdownbg" href="/search/distance/?query=Half Marathon">Half Marathon</a> </li> 
	<li><a class="dropdownbg" href="/search/distance/?query=Marathon">Marathon</a> </li> 
	<li><a class="dropdownbg" href="/search/distance/?query=Other">Other</a> </li> 
 </ul>
 </li>




 {% if user.is_authenticated %}
	 <li> <a class="page-scroll" href="/race/create/">Add a Race</a> </li> 
	 <li> <a class="page-scroll" href="/race/logout/">Log Out</a> </li> 
	 {% else %}
	 <li><a class="page-scroll" href="/entrance/">Log In</a> </li> 
{% endif %} 
 <li> <a class="page-scroll" href="/about">About</a> </li> 
{% endblock %}


{% block search %}
<form action="/search/" class="navbar-form navbar-right" method="get">
 <div class="form-group">
 <input type="text" placeholder="Search" class="form-control" name="query"></input>
 </div>
</form>
{% endblock %}

{% block main_content %}
Stuff
{% endblock %}