{% extends "base/index.html" %}


{% block navigation %}
 <li>
 <a class="page-scroll" href="/race">Find a Race</a>
 </li>
 {% if user.is_authenticated %}
	 <li>
	 <a class="page-scroll" href="/race/create/">Add a Race</a>
	 </li> 
	 <li>
	 <a class="page-scroll" href="/race/logout/">Log Out</a>
	 </li> 
	 {% else %}
	 <li>
	 <a class="page-scroll" href="/entrance/">Log In</a>
	 </li> 
{% endif %} 
 <li>
 <a class="page-scroll" href="/about">About</a>
 </li> 
{% endblock %}


{% block search %}
<form action="/search/" class="navbar-form navbar-right" method="get">
 <div class="form-group">
 <input type="text" placeholder="Search" class="form-control" name="query"></input>
 </div>
</form>
{% endblock %}

{% block main_content %}
Stuff
{% endblock %}