{% extends 'base/theme.html' %}
{% block main_content %}
<div class="data-layer">
    <ul>
        <li class="location-data" data-latitude="{{ race.position.latitude }}" data-longitude="{{ race.position.longitude }}">{{ race.title }}</li>
    </ul>
</div>
<div class="row main-content">
	<div class="col-md-2">
	</div>

	<div class="col-md-8">		
		<div class="panel">
			<div class='row'>
					 <div class="col-md-8">
					 <h3><a href="{{ race.get_absolute_url }}">{{ race.title }}</a></h3>
					 </div>
					 <div class="col-md-4 text-right">
					 <h3>{% include 'base/rating.html' with rating=race.get_average_rating %}</h3>
					 </div>
			</div>
			<div class='row'>
				 <div class="col-md-4">
			{% if race.address %} <p><b>Location: </b>{{ race.address }}</p> {% endif %}
				</div>
				<div class="col-md-4">
			{% if race.date %}<p> <b>Date: </b> {{race.date}} </p> {% endif %}
				</div>
			</div>
			{% include 'race/specifics.html' with race=race %}
			{% if race.image_file %}
			<img class="img-responsive" src="{{ race.image_file.url}}"></img>
			{% endif %}
			<p><b>Description: </b>{{ race.description }}</p>

		</div>		
		<div class="col-md-12">
 			<a type="button" href="{% url 'race_update' pk=race.id %}" class="btn btn-default pull-right">Edit</a>
 			{% if user.is_authenticated %}
	 			{% if user_review %}
	 			<a type="button" href="{% url 'review_update' pk=race.id %}" class="btn btn-default pull-right">Update Review</a>
	 			{% else %}
	 			<a type="button" href="{% url 'review_create' pk=race.id %}" class="btn btn-default pull-right">Create Review</a>
	 			{% endif %}
	 		{% endif %}
		 </div>
		{% for review in race.get_reviews %}
		{% include 'base/review.html' with race=race %}
		{% endfor %}
	</div>
	<div class="col-md-2">
	</div>

</div>

{% endblock %}
